directions.txt
input.asm
/phase3
/*.exe
/*.mc
/*.txt
/*.cpp
/*.hpp
/.vscode/
/src/temp.cpp
/src/temp1.cpp
output.mc
merge_sort.asm
quick_sort.asm
/pipeline
/instruction_execution
inst.txt
/test
/frontend/public/wasm/test